<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emptytherefrigerator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!--파일 읽기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!--파일 쓰기 권한-->
    <uses-permision android:name="android.permission.VIBRATE"/>     <!--진동 울리기 권한-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".main.MainSearchResultRecipeOut"/>
        <activity android:name=".main.RecipeDetailView"/>
        <activity android:name=".main.RecipeDetailUpdateView"/>
        <activity android:name=".main.RecipeDetailCreateView" />
        <activity android:name=".main.SettingView" />
        <activity android:name=".login.LoginAnimation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginView">
        </activity>
        <activity android:name=".login.LoginSignUpView" />
        <activity android:name=".main.MainPageView">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainSearchResultView" />
        <activity android:name=".userView.MyRecipe.MyRecipeListView"/>
        <activity android:name=".userView.MyComment.MyCommentView"/>
        <activity android:name=".userView.UserEditView"/>
        <activity android:name=".userView.SettingView"/>
        <activity android:name=".userView.MyLike.LikeMainPage"/>
        <activity android:name=".main.Comment.CommentListView"/>
    </application>

</manifest>
